h1, h2 {
  font-family: 'GFS Didot', serif;
  color: darkblue;
}
h1{
  font-size: 30px;
}


article, nav, footer {
  padding: 1%;
}
nav{
  border-radius: 7px;
}

#Hotel_fasad {
  display: block;
  width: 100%;
  max-width: 800px;
  height: 99px;
  object-fit: contain;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;


}

#logo {
  width: 70px;
  height: 40px;

}

#namn {
  display: inline;

}

.placering_logo {
  margin-left: auto;
  margin-right: auto;
  width: 265px;
}

.namn_bakgrund {
  background-color: #fdfaee;
}

nav a {
  display: inline-block;



}

.nav_center{
  margin-left: auto;
  margin-right: auto;
  margin-top: 7px;
  width:310px;

}


a:link, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.Hem {
  margin-left: 8px;
}

.Hotellet {
  margin-right: 8px;
}

p {
  color: #F8F8FF;
  font-size: 15px;
}



article a{
  font-family: 'EB Garamond', serif;
  color: white;
  font-size: 20px;

}
* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;

}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}



/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/*footer*/

footer  p{
  font-size: 14px;
  font-family: 'EB Garamond', serif;
  color: black;
}
#epostadress{
  font-size: 14px;
  font-family: 'EB Garamond', serif;
  color: black;
}


/*Rum*/
.beskrivning_rum1{
  display: inline;

}

.bild_rum1,.bild_rum2{
 width: 200px;
 height: 300px;
 float: right;
 margin-right: 10px;
 margin-bottom: 5px;

}

.start_info{
  margin-top: 40px;
  border-radius: 15px;
  font-family: 'EB Garamond', serif;
  color: white;
  font-size: 16px;
  background: rgba(60, 133, 246,0.8);

}
.danny{
  color: #F8F8FF;
  font-size: 14px;
}
.Dio{
  width: 99%;
  height: 200px;
}
.hermit{
  width: 100%;
  height:200px;
}
.the-world {
  font-family: 'GFS Didot', serif;
  color: darkblue;
  font-size: 30px;
  font-weight: bold;
}
.lol{
  width: 99%;
  height: 200px;
}

.arm{
width: 20px;
height: 40px;


}
